html {
    display: table;
    margin:0 auto;
}

body {
    width: 800px;
    height: 1000px;
    display: table-cell;
    vertical-align: middle;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}
  li {
    flex: 1; /* Ensure li elements take up even space */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}
#result {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}